::selection {
	background: transparent;
	color: $bemy-red;
}

@font-face {
	font-family: "Fonde";
	src: url("./dist/fonts/fonde.woff2") format("woff2"),
		url("./dist/fonts/fonde.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: aktiv-grotesk, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $bemy-dark;
	color: $bemy-light;
	font-weight: 300;
	@apply text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
}

strong {
	font-weight: 800;
}

a {
	transition: 0.25s;
}

.fonde {
	font-family: "Fonde", serif;
	font-weight: 400;
}

.container {
	max-width: none;
}

.page-container {
	background-color: $bemy-dark;
	@media screen and (min-width: $lg) {
		// margin-bottom: 100vh;
	}
}

.skew-18 {
	transform: skewX(-18deg);
}

.link-transition {
	transition: 0.25s;
}

.page-title {
	@apply relative;
	opacity: 0;
	line-height: 1.1;

	i {
		font-style: normal;
		font-family: "Fonde", serif;
		font-weight: 300;
		line-height: 1;
	}

	span {
		display: inline-block;
		position: relative;
	}

	.line {
		top: 0;
		left: 0;
		width: 60vw;
		height: 1px;
		background: $bemy-light;
		position: absolute;
		transform: rotate(-45deg) translateX(-50%) translateY(11vw);
		transform-origin: top left;
		opacity: 0.5;

		@media screen and (min-width: $md) {
			width: 35vw;
		}
	}
}

.back-line {
	@apply relative;
	z-index: 1;

	&::before {
		content: "";
		width: 60vw;
		height: 1px;
		top: 50%;
		left: 50%;
		background: $bemy-light;
		position: absolute;
		transform: rotate(-45deg) translateX(-50%);
		transform-origin: top left;
		opacity: 0.5;
		z-index: -1;

		@media screen and (min-width: $md) {
			width: 25vw;
		}
	}
}

// Reveal
.reveal-opacity {
	opacity: 0;
}

// Page Transition
.page-transition {
	pointer-events: none;
	.swipe {
		height: 100vh;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(0);
	}
}

// Parallax
.parallax-container {
	overflow: hidden;
}
.parallax-img-wrapper {
	transform: scale(1.2);
	height: 100%;
	width: 100%;
}

// Sections padding
.section-pad {
	padding-top: 80px;
	padding-bottom: 80px;
	@media screen and (min-width: $md) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	@media screen and (min-width: $lg) {
		padding-top: 130px;
		padding-bottom: 130px;
	}
	@media screen and (min-width: $xl) {
		padding-top: 10vw;
		padding-bottom: 10vw;
	}
}
.section-pad-top {
	padding-top: 80px;
	@media screen and (min-width: $md) {
		padding-top: 100px;
	}
	@media screen and (min-width: $lg) {
		padding-top: 130px;
	}
	@media screen and (min-width: $xl) {
		padding-top: 10vw;
	}
}
.section-pad-bottom {
	padding-bottom: 80px;
	@media screen and (min-width: $md) {
		padding-bottom: 100px;
	}
	@media screen and (min-width: $lg) {
		padding-bottom: 130px;
	}
	@media screen and (min-width: $xl) {
		padding-bottom: 10vw;
	}
}
