$bemy-dark: #151A20;
$bemy-light: #f2eddf;
$bemy-red: #f54f4f;

$ease: cubic-bezier(.5,0,0,1);

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1480px;

%line-bottom{
    content: "";
    background-color: $bemy-light;
    position: absolute;
    width: 1px;
    height: 500px;
    bottom: -30px;
    left: 50%;
    transform: translateY(100%) rotate(18deg);
    transform-origin: top center;
}