.page-404{
    .text-title{
        font-size: 100px;
        line-height: 0.8;
        @media screen and (min-width: $md){
            font-size: 20vw;
        }
        @media screen and (min-width: $lg){
            
        }
    }
}