.studio-presentation {
    &__img {
      background: url("./dist/images/benoit-tommy.png") no-repeat;
      background-size: contain;
      background-position: left bottom;
      padding-bottom: 100%;
        
      @media screen and (min-width: $md){
        background-position: -50px bottom;
        top: -70%;
        padding-bottom: 0;
      }
    }
  }

  .studio-approche{
    &__img{
      &::after{
        @extend %line-bottom;
      }
    }
  }

  .studio-projets{
    &__list{
      border-top:1px solid $bemy-light;
      border-bottom:1px solid $bemy-light;
    }
    &__item{
      position: relative;
      z-index: 1;
      transition: 0.25s;
      &:hover{
        color: $bemy-red;
      }
    }
  }