.studio-presentation {
	&__container {
		@media screen and (min-width: $lg) {
			min-height: 45vw;
			display: flex;
			align-items: center;
		}
	}
	&__img {
		background: url("./dist/images/benoit-tommy.png") no-repeat;
		background-size: contain;
		background-position: bottom right;
		padding-bottom: 75%;
		pointer-events: none;
		width: 100%;
		margin-top: 40px;

		@media screen and (min-width: $md) {
			position: absolute;
			right: 5vw;
			bottom: 0;
			width: 60%;
		}
	}
}

.studio-approche {
	&__img {
		&::after {
			@extend %line-bottom;
		}
	}
}

.studio-projets {
	&__item {
		position: relative;
		z-index: 1;
		transition: 0.25s;
		&:hover {
			color: $bemy-red;
		}
	}
}

.photo-bureaux {
	height: 50vw;
}
