.home-intro {
}
.home-projets {
	&__img-mask {
		width: 150%;
		transform: skewX(-18deg) translateX(-70%);
	}

	&__reveal-mask {
		@apply absolute bg-bemy-dark w-1/2 right-0 pointer-events-none;
		height: 110%;
		top: -5%;
		transition: transform 1s $ease;
		&.is-inview {
			transform: translateX(100%);
		}
	}

	&__img {
		position: relative;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		// transition: transform 0.2s linear;
		@media screen and (min-width: $lg) {
			// background-attachment: fixed;
			// background-position: 25vw center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: $bemy-dark;
			transform-origin: center left;
			transition: opacity 0.1s linear;
			opacity: 0;
		}
		&:hover {
			//filter: grayscale(80%);
			&::after {
				opacity: 0.25;
			}
		}
	}
}
.home-studio {
	&__btn-container {
		&::after {
			@extend %line-bottom;
		}
	}
	&__bloc-rouge {
		transform: translateX(100%) skew(-18deg);
	}
}
