body#page-facturation {
	background: white;
	color: black;

	@media screen {
		padding: 3vw;
	}

	.container {
		max-width: 1440px;
	}

	select {
		background: #eee;
		padding: 15px 25px;
		font-size: 15px;
		line-height: 1.2;
		height: 50px;
	}
	.btn-filter_factures {
		background: $bemy-dark;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0 25px;
		line-height: 50px;
		font-size: 13px;
		border: 0;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background: $bemy-red;
		}
	}
}

.facture {
	position: relative;
	max-width: 1280px;
	margin: 0 auto;

	@media print {
		max-width: none;
		margin: 0;
	}
	// min-height: 100vh;
	// padding-bottom: 150px;

	a {
		color: $bemy-red;
		text-decoration: underline;
	}

	&__chiffrage {
		display: grid;
		grid-template-columns: 3fr 1fr;
	}

	table {
		width: 100%;
	}
	.footer,
	.footer-space {
		height: 130px;
	}

	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		display: none;

		@media print {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	.btn-export {
		.btn {
			background: $bemy-dark;
			color: $bemy-light;
			border: 0;
		}
		@media print {
			display: none;
		}
	}
}
