.cursor{
    display: none;
    position: fixed;
    top: -9px;
    left: -9px;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 1px solid #FFFCF5;
    border-radius:100%;
    mix-blend-mode: difference;
    transition: 0.2s ease-out;
    pointer-events: none;
    z-index: 9999;

    @media screen and (min-width: $lg){
        display: block;
    }

    &.hover{
        width: 120px;
        height: 120px;
        top: -60px;
        left: -60px;
        background: transparent;
        border: 1.5px solid #FFFCF5;
    }
}